---
import { routes } from "../utils/routes";
---

<div class="bg-base-200">
  <footer class="container footer text-base-content px-2 py-6">
    <nav>
      <h6 class="footer-title">Services</h6>
      <a href={routes.web.blogs()} class="link link-hover"> Blogs </a>
      <a href={routes.web.tutorials()} class="link link-hover"> Tutorials </a>
      <a href={routes.web.discussions()} class="link link-hover">
        Discussions
      </a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a href={routes.web.portfolio()} class="link link-hover"> Portfolio </a>
      <a href={routes.web.contact()} class="link link-hover"> Contact </a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a href={routes.web.privacy()} class="link link-hover"> Terms of use </a>
      <a href={routes.web.privacy()} class="link link-hover">
        Privacy policy
      </a>
      <a href={routes.web.privacy()} class="link link-hover"> Cookie policy </a>
    </nav>
    <form>
      <h6 class="footer-title">Newsletter</h6>
      <fieldset class="form-control">
        <label class="label">
          <span class="label-text">Enter your email address</span>
        </label>
        <div class="join">
          <input
            type="text"
            placeholder="username@site.com"
            class="input input-sm input-bordered join-item"
          />
          <button class="btn btn-sm btn-primary join-item"> Subscribe </button>
        </div>
      </fieldset>
    </form>
  </footer>
</div>
