---
import Logo from "./logo.astro";
import { Bars3Icon, ChevronDownIcon } from "@heroicons/vue/24/solid";
import Navsearch from "./navsearch.astro";
import { NavMenus } from "src/utils/consts/nav-menus";
import NavLink from "./nav-link.astro";
import NavAuthMenu from "./nav-auth-menu.astro";
---

<div class="navbar bg-base-100 shadow-md p-0 m-0">
  <div class="navbar container py-0 my-0 mx-auto">
    <div class="navbar-start">
      <label for="nav-drawer" class="btn btn-ghost btn-square flex lg:hidden">
        <Bars3Icon class="size-6 block" />
      </label>

      <div class="hidden md:block">
        <Logo />
      </div>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul
        class="px-1 font-semibold capitalize flex justify-center gap-3 items-center"
      >
        {
          NavMenus.map((link) => {
            if (!link.child) {
              return (
                <li>
                  <NavLink href={link.href} name={link.name} />
                </li>
              );
            }
            return (
              <div class="dropdown">
                <div
                  tabindex="0"
                  role="button"
                  class="flex items-center gap-0.5"
                >
                  <span>{link.name}</span>
                  <ChevronDownIcon class="size-4" />
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-3 shadow gap-1"
                >
                  {link.child.map((link) => (
                    <NavLink href={link.href} name={link.name} />
                  ))}
                </ul>
              </div>
            );
          })
        }
      </ul>
    </div>
    <div class="navbar-end gap-2">
      <Navsearch />
      <NavAuthMenu />
    </div>
  </div>
</div>
