---
interface Props {
  name: string;
  errors?: string[];
  className?: string;
  hideLable?: boolean;
  placeholder?: string;
  value?: string;
  label?: string;
}

const { name, className, errors, hideLable, value, label } = Astro.props;
---

<div class="form-control py-2">
  <label class="cursor-pointer label w-max gap-2" for={name}>
    {!hideLable && <span class="label-text">{label}</span>}
    <input
      id={name}
      name={name}
      type="radio"
      value={value}
      class={`radio radio-primary ${errors ? "radio-error text-error" : ""} ${className ?? ""}`}
      transition:persist
    />
  </label>
  {
    errors && (
      <div class="label gap-1 flex flex-col justify-start w-full p-0 items-start">
        {errors.map((err) => (
          <span class="label-text-alt  text-red-500">{err}</span>
        ))}
      </div>
    )
  }
</div>
