---
interface Props {
  name: string;
  errors?: string[];
  className?: string;
  hideLable?: boolean;
  value?: string;
  multiple?: boolean;
  label?: string;
}

const { name, className, errors, hideLable, value, multiple, label } =
  Astro.props;
---

<label class="form-control py-2" :for="name">
  {
    !hideLable && (
      <label class="label pb-1" for={name}>
        <span class="label-text">{label}</span>
      </label>
    )
  }
  <select
    class={`select select-bordered ${errors ? "select-error text-error" : ""} ${className ?? ""}`}
    id={name}
    name={name}
    value={value}
    multiple={multiple}
    transition:persist
  >
    <slot />
  </select>
  {
    errors && (
      <div class="label gap-1 flex flex-col justify-start w-full p-0 items-start">
        {errors.map((err) => (
          <span class="label-text-alt  text-red-500">{err}</span>
        ))}
      </div>
    )
  }
</label>
